* {
  /* text-align: center; */

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

}

#root, .App {
  height: 100%;
}

.App {
  position: relative;
}

.form-enter {
  right: -1000px;
}

.form-enter-active {
  right: 0;
  transition: all 300ms ease-in;
}

.form-enter-done {
  right: 0;
}

.form-exit {
  right: 0;
}

.form-exit-active {
  right: -1000px;
  transition: all 300ms ease-in;
}
